header{
    display: flex;
    height: 100px;
    background-color: grey;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.logo{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.logo img{
    height: 100px;
    margin-right: 200px;
}

a{
    text-decoration: none;
    color: blueviolet;
}
footer{
    background-color: red;
}